<div class="center">
  <mat-card>
    <div class="titulo">
      <h1>Proyecto de modelamiento y simulación</h1>
    </div>
    <div class="texto">
      <h1>Nombre: Antonio Giler Macías</h1>
      <h1>Curso: 6 A</h1>
    </div>
    <img class='imagen' src="../../../assets/Screen Shot 2021-09-06 at 22.57.17.png">
    <br>
    <br>
    <p class="texto">
      Este proyecto es de la materia modelamiento y simulación y contiene los módulos de pronóstico y de simulación
      donde estos reciben datos de entrada para poder mostrarnos el
      resultado deseado.
      <br>
      <br>
      <b>Módulo de pronóstico</b>
    </p>
    <ul class="texto">
      <li>
        <button mat-button color="primary" routerLink="/tema1">Promedio móvil</button>

      </li>
      <li>
        <button mat-button color="primary" routerLink="/tema2">
          Suavizamiento de datos
        </button>
      </li>
      <li>
        <button mat-button color="primary" routerLink="/tema3">
          Regresión lineal
        </button>
      </li>
      <li>
        <button mat-button color="primary" routerLink="/tema4">
          Regresión cuadrática
        </button>
      </li>
    </ul>
    <p class="texto">
      <b>Módulo de simulaciones</b>
    </p>
    <ul class="texto">
      <li>
        <button mat-button color="primary" routerLink="/tema5">
          Simulación de Montecarlo
        </button>
      </li>
      <li>
        <button mat-button color="primary" routerLink="/tema6">
          Simulación de linea de espera
        </button>
      </li>
      <li>
        <button mat-button color="primary" routerLink="/tema7">
          Simulación de inventario
        </button>
      </li>
    </ul>

  </mat-card>

</div>