<mat-drawer-container class="example-container" [hasBackdrop]="true">
  <mat-drawer #drawer mode="over">
    <h1 class="center tituloMenu">
      <button mat-flat-button routerLink="/">Menu</button>
    </h1>
    <mat-list>
      <mat-list-item>
        <button mat-button routerLink="/tema1">Extracción de datos</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button routerLink="/tema2">Media, mediana y moda</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button routerLink="/tema3">
          Números Aleatorios: Cuadrados Medios
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button routerLink="/tema4">Tema 4</button>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <p>
      <mat-toolbar color="primary">
        <button mat-icon-button (click)="drawer.toggle()" aria-label="Menu">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Modelamiento y simulación</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon" aria-label="About">
          <mat-icon>info</mat-icon>
        </button>
      </mat-toolbar>
    </p>
    <div class="contenido">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
